# Desafío 1: Generación de funciones

Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:
- Ambas funciones deben ingresar un argumento ​x​ correspondiente al vector.
- Las funciones deben contener con la documentación asociada a
la variable y retornar un valor utilizando   .
 - La función de la varianza debe llamar a la función de la media

In [2]:
x=[1,2,3,4,5]
def media(lista):
    sum_i=0
    for i in lista:
        sum_i+=i
        media=sum_i/len(lista)
        """Se realiza una suma de todos los elementos de la lista 
        y luego se procede a dividir por el largo de la lista"""
    return media
media_x=media(x)
print("La media del vector x es: {}".format(media_x) )

La media del vector x es: 3.0

In [3]:
def varianza(lista):
    media_lista=media(lista)
    acum_2=0
    for i in x:
        acum_2+=(i-media_lista)**2
    var=acum_2/(len(lista)-1)
    """Se realiza una diferencia entre el elemento de la lista y la media y esta se eleva al cuadrado
    luego se suman todas las diferenias y se procede a dividir por el largo de la lista menos 1"""
    return var
varianza_x=varianza(x)
print("La varianza del vector x es: {}".format(varianza_x) )

La varianza del vector x es: 2.5

- Utilice las funciones para reportar la información sobre **goles_favor**, **goles_contra** y **puntos**

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv("worldcup2014.csv")
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [5]:
media_goles_favor=media(df.goles_favor)
varianza_goles_favor=varianza(df.goles_favor)
print("La media de goles_favor es: {}".format(media_goles_favor))
print("La varianza de goles_favor es: {}".format(varianza_goles_favor))
print("\n")
media_goles_contra=media(df.goles_contra)
varianza_goles_contra=varianza(df.goles_contra)
print("La media de goles_contra es: {}".format(media_goles_contra))
print("La varianza de goles_contra es: {}".format(varianza_goles_contra))
print("\n")
media_puntos=media(df.puntos)
varianza_puntos=varianza(df.puntos)
print("La media de puntos es: {}".format(media_puntos))
print("La varianza de puntos es: {}".format(varianza_puntos))
print("\n")

La media de goles_favor es: 4.25
La varianza de goles_favor es: 0.5745967741935484


La media de goles_contra es: 4.25
La varianza de goles_contra es: 0.5745967741935484


La media de puntos es: 4.21875
La varianza de puntos es: 0.5621534778225806

# Desafio 2

Utilizando el método **groupby** de la clase **DataFrame**, en conjunto con la función **.agg** de pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor, en contra y de la cantidad de puntos por continente.

In [6]:
df.groupby(by=['continent']).sum()

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
continent,,,,,,,,,
africa,15,15,3,3,9,18,28,12,2
asia,16,12,0,3,9,9,25,3,0
europe,30,39,18,7,14,62,52,61,6
northamerica,9,12,5,3,4,13,14,18,3
southamerica,10,18,13,2,3,34,17,41,5

In [7]:
df.groupby(by=['continent']).agg('mean')

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
continent,,,,,,,,,
africa,3.000000,3.0,0.600000,0.600000,1.800000,3.600000,5.600000,2.400000,0.400000
asia,4.000000,3.0,0.000000,0.750000,2.250000,2.250000,6.250000,0.750000,0.000000
europe,2.307692,3.0,1.384615,0.538462,1.076923,4.769231,4.000000,4.692308,0.461538
northamerica,2.250000,3.0,1.250000,0.750000,1.000000,3.250000,3.500000,4.500000,0.750000
southamerica,1.666667,3.0,2.166667,0.333333,0.500000,5.666667,2.833333,6.833333,0.833333

In [8]:
df.groupby(by=['continent']).agg('var')

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
continent,,,,,,,,,
africa,1.000000,0.0,0.300000,0.300000,0.70000,3.300000,4.800000,3.300000,0.300000
asia,0.000000,0.0,0.000000,0.250000,0.25000,0.916667,4.250000,0.250000,0.000000
europe,1.064103,0.0,0.923077,0.435897,0.74359,6.858974,3.833333,6.897436,0.269231
northamerica,1.583333,0.0,0.916667,0.250000,2.00000,2.250000,11.000000,11.000000,0.250000
southamerica,0.666667,0.0,0.566667,0.266667,0.30000,4.666667,0.566667,3.766667,0.166667

In [9]:
df.groupby(by=['continent']).agg('std')

,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,puntos,clasificado
continent,,,,,,,,,
africa,1.000000,0.0,0.547723,0.547723,0.836660,1.816590,2.190890,1.816590,0.547723
asia,0.000000,0.0,0.000000,0.500000,0.500000,0.957427,2.061553,0.500000,0.000000
europe,1.031553,0.0,0.960769,0.660225,0.862316,2.618964,1.957890,2.626297,0.518875
northamerica,1.258306,0.0,0.957427,0.500000,1.414214,1.500000,3.316625,3.316625,0.500000
southamerica,0.816497,0.0,0.752773,0.516398,0.547723,2.160247,0.752773,1.940790,0.408248

- ¿En qué continente se observa una mayor cantidad de goles a favor?

R: El continente con la mayor cantidad de goles a favor es europe. Por otra parte, en promedio el continente que se observa una mayor cantidad de goles a favor es: southamerica. 

- ¿En qué continente se observa una mayor cantidad de goles en contra?

R: El continente con la mayor cantidad de goles en contra es europe. Por otra parte, en promedio el continente que se observa una mayor cantidad de goles en contra es: asia

- ¿En qué continente se observa una mayor cantidad de puntos en promedio?

R: El continente que se observa una mayor cantidad de puntos en promedio es: southamerica

# Desafío 3: Simulaciones

Genere una función ​generate_pet que devuelva de forma aleatoria un string 'perro'​ o ​'gato'​ ​un ​número n​ ​ de veces. Ejecútela un par de veces.
- Tip: Puede utilizar la función ​np.random.choice para retornar elementos al azar.

In [10]:
def generate_pet(lista_pet,n):
    a=np.random.choice(lista_pet, n)
    return a
lista = ['perro', 'gato']
n=5
pets=generate_pet(lista,n)
pets

array(['perro', 'gato', 'gato', 'perro', 'gato'], dtype='<U5')

- Aplique la función ​generate_pet​ para generar 20 muestras.

In [11]:
lista = ['perro', 'gato']
n=20
pets=generate_pet(lista,n)
print(pets)

['gato' 'perro' 'perro' 'gato' 'gato' 'gato' 'perro' 'perro' 'perro'
 'perro' 'gato' 'gato' 'perro' 'gato' 'perro' 'perro' 'gato' 'gato'
 'perro' 'gato']

- ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?

In [12]:
def perro(i):
    return i=='perro'
def gato(i):
    return i=='gato'
n_perro = len([ i for i in pets if i=='perro'])
n_gato = len([ i for i in pets if i=='gato'])
prob_perro=n_perro/n
prob_gato=n_gato/n
print("En relacion al arreglo entregado anteriormente la probabilidad de elegir un perro al azar es de un {} y la probabilidad de elegir un gato al azar es de un {}.".format(prob_perro,prob_gato))

En relacion al arreglo entregado anteriormente la probabilidad de elegir un perro al azar es de un 0.5 y la probabilidad de elegir un gato al azar es de un 0.5.

- Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se ejecuta la función varias veces luego de fijar la semilla

In [13]:
np.random.seed(2)
lista = ['perro', 'gato']
n=20
pets=generate_pet(lista,n)
print(pets)

['perro' 'gato' 'gato' 'perro' 'perro' 'gato' 'perro' 'gato' 'perro'
 'gato' 'perro' 'gato' 'gato' 'gato' 'gato' 'gato' 'gato' 'gato' 'perro'
 'perro']

Cuando uno agrega una semilla a un proceso de ramdomizacion fija el resultado

# Desafío 4: Función simuladora
- Genere una función llamada simulate_pets_prob que tome como argumento un número finito de simulaciones a generar.
- La función debe simular dos situaciones young_pet y old_pet, y contar la ocurrencia de los siguientes casos:
 - De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos una de las mascotas sea un perro.
 - De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un perro.
 - De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.
- El método debe tener una semilla pseudoaleatoria de 1.
- El output de la función debe entregarse en términos de Probabilidad.
- De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por qué?

In [50]:
def simulate_pets_prob(n_simulaciones):
    np.random.seed(1)
    ls_pet=[]
    for i in range(0,n_simulaciones):
        pets=tuple(generate_pet(lista,2))
        ls_pet.append(pets)
    un_perro=0
    for i in ls_pet:
        if (i[0] == 'perro') or (i[1] == 'perro'):
            un_perro+=1
    prob_un_perro=(un_perro/n_simulaciones)
    old_pet_perro=0
    for i in ls_pet:
        if (i[1] == 'perro'):
            old_pet_perro+=1
    prob_old_pet_perro=(old_pet_perro/n_simulaciones)
    dos_perros=0
    for i in ls_pet:
        if (i[0] == 'perro') and (i[1] == 'perro'):
            dos_perros+=1
    prob_dos_perros=(dos_perros/n_simulaciones)
    return prob_un_perro, prob_old_pet_perro, prob_dos_perros

In [51]:
simulate_pets_prob(10)

(0.7, 0.4, 0.2)

Las probabilidades retornadas de la funcion se interprentan de la siguiente forma:
- La probabilidad de que por lo menos una de las mascotas sea un perro es de un:

In [60]:
simulate_pets_prob(10)[0]

0.7

- La probabilidad de que old_pet sea un perro:

In [56]:
simulate_pets_prob(10)[1]

0.4

- La probabilidad de que los dos sean perros

In [61]:
simulate_pets_prob(10)[2]

0.2

- De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por qué?

 - De los tres escenarios, el menos probable es el de que los dos (old y young) sean perros, y esto es debido a que existe une **intersección** entre la probabilidad de que el primero sea perro y ademas que el segundo sea perro. Esto se ve claramente en la función cuando se utiliza un AND

 - De los tres escenarios, el mas probable es el de que por lo menos una de las mascotas sea perro, y esto es devido a que existen 2 condiciones independientes entre young y old y no esta condicionada por la otra. Esto se ve claramente en la función cuando se utiliza un OR