# Apuntes

In [3]:
import pandas as pd
alumnos=pd.read_csv("alumnos.csv")

In [6]:
alumnos.head()

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [7]:
type(alumnos)

pandas.core.frame.DataFrame

In [9]:
alumnos.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [12]:
alumnos['altura']

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64

In [13]:
type(alumnos['altura'])

pandas.core.series.Series

# Iloc
Se utiliza para acceder a un indice

In [17]:
alumnos.iloc[5,:]

nombre    Felipe
altura      1.79
peso         100
edad          26
sexo           h
Name: 5, dtype: object

In [18]:
alumnos.iloc[5]

nombre    Felipe
altura      1.79
peso         100
edad          26
sexo           h
Name: 5, dtype: object

In [22]:
alumnos['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [23]:
alumnos['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [25]:
df_peso=alumnos.peso
df_peso.head()

0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64

In [26]:
type(df_peso)

pandas.core.series.Series

In [30]:
df_peso[:6]

0     60
1     83
2     70
3     58
4     98
5    100
Name: peso, dtype: int64