# Desafio 1

In [5]:
import numpy as np

In [6]:
array_1=np.linspace(1, 50)
array_1

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.])

In [11]:
array_2=np.linspace(100, 150, 51)
array_2

array([100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150.])

# Desafio 2

In [18]:
for i in array_1:
    if i%2==0:
      print("El numero {} par".format(i))  
    else:
      print("El numero {} impar".format(i))

El numero 1.0 impar
El numero 2.0 par
El numero 3.0 impar
El numero 4.0 par
El numero 5.0 impar
El numero 6.0 par
El numero 7.0 impar
El numero 8.0 par
El numero 9.0 impar
El numero 10.0 par
El numero 11.0 impar
El numero 12.0 par
El numero 13.0 impar
El numero 14.0 par
El numero 15.0 impar
El numero 16.0 par
El numero 17.0 impar
El numero 18.0 par
El numero 19.0 impar
El numero 20.0 par
El numero 21.0 impar
El numero 22.0 par
El numero 23.0 impar
El numero 24.0 par
El numero 25.0 impar
El numero 26.0 par
El numero 27.0 impar
El numero 28.0 par
El numero 29.0 impar
El numero 30.0 par
El numero 31.0 impar
El numero 32.0 par
El numero 33.0 impar
El numero 34.0 par
El numero 35.0 impar
El numero 36.0 par
El numero 37.0 impar
El numero 38.0 par
El numero 39.0 impar
El numero 40.0 par
El numero 41.0 impar
El numero 42.0 par
El numero 43.0 impar
El numero 44.0 par
El numero 45.0 impar
El numero 46.0 par
El numero 47.0 impar
El numero 48.0 par
El numero 49.0 impar
El numero 50.0 par

In [19]:
for i in array_2:
    if (i % 2 == 0) | (i % 3 == 0): 
        print("El número {} es divisible por 2 o 3".format(i))
    else:
        print("El número {} no es divisible por 2 o 3".format(i))

El número 100.0 es divisible por 2 o 3
El número 101.0 no es divisible por 2 o 3
El número 102.0 es divisible por 2 o 3
El número 103.0 no es divisible por 2 o 3
El número 104.0 es divisible por 2 o 3
El número 105.0 es divisible por 2 o 3
El número 106.0 es divisible por 2 o 3
El número 107.0 no es divisible por 2 o 3
El número 108.0 es divisible por 2 o 3
El número 109.0 no es divisible por 2 o 3
El número 110.0 es divisible por 2 o 3
El número 111.0 es divisible por 2 o 3
El número 112.0 es divisible por 2 o 3
El número 113.0 no es divisible por 2 o 3
El número 114.0 es divisible por 2 o 3
El número 115.0 no es divisible por 2 o 3
El número 116.0 es divisible por 2 o 3
El número 117.0 es divisible por 2 o 3
El número 118.0 es divisible por 2 o 3
El número 119.0 no es divisible por 2 o 3
El número 120.0 es divisible por 2 o 3
El número 121.0 no es divisible por 2 o 3
El número 122.0 es divisible por 2 o 3
El número 123.0 es divisible por 2 o 3
El número 124.0 es divisible por 2 o 3
El número 125.0 no es divisible por 2 o 3
El número 126.0 es divisible por 2 o 3
El número 127.0 no es divisible por 2 o 3
El número 128.0 es divisible por 2 o 3
El número 129.0 es divisible por 2 o 3
El número 130.0 es divisible por 2 o 3
El número 131.0 no es divisible por 2 o 3
El número 132.0 es divisible por 2 o 3
El número 133.0 no es divisible por 2 o 3
El número 134.0 es divisible por 2 o 3
El número 135.0 es divisible por 2 o 3
El número 136.0 es divisible por 2 o 3
El número 137.0 no es divisible por 2 o 3
El número 138.0 es divisible por 2 o 3
El número 139.0 no es divisible por 2 o 3
El número 140.0 es divisible por 2 o 3
El número 141.0 es divisible por 2 o 3
El número 142.0 es divisible por 2 o 3
El número 143.0 no es divisible por 2 o 3
El número 144.0 es divisible por 2 o 3
El número 145.0 no es divisible por 2 o 3
El número 146.0 es divisible por 2 o 3
El número 147.0 es divisible por 2 o 3
El número 148.0 es divisible por 2 o 3
El número 149.0 no es divisible por 2 o 3
El número 150.0 es divisible por 2 o 3

In [20]:
for i in array_2:
    if (i % 2 == 0) & (i % 3 == 0): 
        print("El número {} es divisible por 2 o 3".format(i))
    else:
        print("El número {} no es divisible por 2 o 3".format(i))

El número 100.0 no es divisible por 2 o 3
El número 101.0 no es divisible por 2 o 3
El número 102.0 es divisible por 2 o 3
El número 103.0 no es divisible por 2 o 3
El número 104.0 no es divisible por 2 o 3
El número 105.0 no es divisible por 2 o 3
El número 106.0 no es divisible por 2 o 3
El número 107.0 no es divisible por 2 o 3
El número 108.0 es divisible por 2 o 3
El número 109.0 no es divisible por 2 o 3
El número 110.0 no es divisible por 2 o 3
El número 111.0 no es divisible por 2 o 3
El número 112.0 no es divisible por 2 o 3
El número 113.0 no es divisible por 2 o 3
El número 114.0 es divisible por 2 o 3
El número 115.0 no es divisible por 2 o 3
El número 116.0 no es divisible por 2 o 3
El número 117.0 no es divisible por 2 o 3
El número 118.0 no es divisible por 2 o 3
El número 119.0 no es divisible por 2 o 3
El número 120.0 es divisible por 2 o 3
El número 121.0 no es divisible por 2 o 3
El número 122.0 no es divisible por 2 o 3
El número 123.0 no es divisible por 2 o 3
El número 124.0 no es divisible por 2 o 3
El número 125.0 no es divisible por 2 o 3
El número 126.0 es divisible por 2 o 3
El número 127.0 no es divisible por 2 o 3
El número 128.0 no es divisible por 2 o 3
El número 129.0 no es divisible por 2 o 3
El número 130.0 no es divisible por 2 o 3
El número 131.0 no es divisible por 2 o 3
El número 132.0 es divisible por 2 o 3
El número 133.0 no es divisible por 2 o 3
El número 134.0 no es divisible por 2 o 3
El número 135.0 no es divisible por 2 o 3
El número 136.0 no es divisible por 2 o 3
El número 137.0 no es divisible por 2 o 3
El número 138.0 es divisible por 2 o 3
El número 139.0 no es divisible por 2 o 3
El número 140.0 no es divisible por 2 o 3
El número 141.0 no es divisible por 2 o 3
El número 142.0 no es divisible por 2 o 3
El número 143.0 no es divisible por 2 o 3
El número 144.0 es divisible por 2 o 3
El número 145.0 no es divisible por 2 o 3
El número 146.0 no es divisible por 2 o 3
El número 147.0 no es divisible por 2 o 3
El número 148.0 no es divisible por 2 o 3
El número 149.0 no es divisible por 2 o 3
El número 150.0 es divisible por 2 o 3

In [22]:
for i in array_2:
    if (i % 3 == 0) & (i % 2 != 0): 
        print("El número {} es divisible por 3 pero no por 2".format(i))
    else:
        print("El número {} no es divisible por 3 ni por 2".format(i))

El número 100.0 no es divisible por 3 ni por 2
El número 101.0 no es divisible por 3 ni por 2
El número 102.0 no es divisible por 3 ni por 2
El número 103.0 no es divisible por 3 ni por 2
El número 104.0 no es divisible por 3 ni por 2
El número 105.0 es divisible por 3 pero no por 2
El número 106.0 no es divisible por 3 ni por 2
El número 107.0 no es divisible por 3 ni por 2
El número 108.0 no es divisible por 3 ni por 2
El número 109.0 no es divisible por 3 ni por 2
El número 110.0 no es divisible por 3 ni por 2
El número 111.0 es divisible por 3 pero no por 2
El número 112.0 no es divisible por 3 ni por 2
El número 113.0 no es divisible por 3 ni por 2
El número 114.0 no es divisible por 3 ni por 2
El número 115.0 no es divisible por 3 ni por 2
El número 116.0 no es divisible por 3 ni por 2
El número 117.0 es divisible por 3 pero no por 2
El número 118.0 no es divisible por 3 ni por 2
El número 119.0 no es divisible por 3 ni por 2
El número 120.0 no es divisible por 3 ni por 2
El número 121.0 no es divisible por 3 ni por 2
El número 122.0 no es divisible por 3 ni por 2
El número 123.0 es divisible por 3 pero no por 2
El número 124.0 no es divisible por 3 ni por 2
El número 125.0 no es divisible por 3 ni por 2
El número 126.0 no es divisible por 3 ni por 2
El número 127.0 no es divisible por 3 ni por 2
El número 128.0 no es divisible por 3 ni por 2
El número 129.0 es divisible por 3 pero no por 2
El número 130.0 no es divisible por 3 ni por 2
El número 131.0 no es divisible por 3 ni por 2
El número 132.0 no es divisible por 3 ni por 2
El número 133.0 no es divisible por 3 ni por 2
El número 134.0 no es divisible por 3 ni por 2
El número 135.0 es divisible por 3 pero no por 2
El número 136.0 no es divisible por 3 ni por 2
El número 137.0 no es divisible por 3 ni por 2
El número 138.0 no es divisible por 3 ni por 2
El número 139.0 no es divisible por 3 ni por 2
El número 140.0 no es divisible por 3 ni por 2
El número 141.0 es divisible por 3 pero no por 2
El número 142.0 no es divisible por 3 ni por 2
El número 143.0 no es divisible por 3 ni por 2
El número 144.0 no es divisible por 3 ni por 2
El número 145.0 no es divisible por 3 ni por 2
El número 146.0 no es divisible por 3 ni por 2
El número 147.0 es divisible por 3 pero no por 2
El número 148.0 no es divisible por 3 ni por 2
El número 149.0 no es divisible por 3 ni por 2
El número 150.0 no es divisible por 3 ni por 2

In [24]:
for i in array_2:
    if (i % 3 != 0) & (i % 2 != 0): 
        print("El número {} no es divisible por 2 ni 3".format(i))
    else:
        print("El número {} es divisible por 2 o 3".format(i))

El número 100.0 es divisible por 2 y 3
El número 101.0 no es divisible por 2 ni 3
El número 102.0 es divisible por 2 y 3
El número 103.0 no es divisible por 2 ni 3
El número 104.0 es divisible por 2 y 3
El número 105.0 es divisible por 2 y 3
El número 106.0 es divisible por 2 y 3
El número 107.0 no es divisible por 2 ni 3
El número 108.0 es divisible por 2 y 3
El número 109.0 no es divisible por 2 ni 3
El número 110.0 es divisible por 2 y 3
El número 111.0 es divisible por 2 y 3
El número 112.0 es divisible por 2 y 3
El número 113.0 no es divisible por 2 ni 3
El número 114.0 es divisible por 2 y 3
El número 115.0 no es divisible por 2 ni 3
El número 116.0 es divisible por 2 y 3
El número 117.0 es divisible por 2 y 3
El número 118.0 es divisible por 2 y 3
El número 119.0 no es divisible por 2 ni 3
El número 120.0 es divisible por 2 y 3
El número 121.0 no es divisible por 2 ni 3
El número 122.0 es divisible por 2 y 3
El número 123.0 es divisible por 2 y 3
El número 124.0 es divisible por 2 y 3
El número 125.0 no es divisible por 2 ni 3
El número 126.0 es divisible por 2 y 3
El número 127.0 no es divisible por 2 ni 3
El número 128.0 es divisible por 2 y 3
El número 129.0 es divisible por 2 y 3
El número 130.0 es divisible por 2 y 3
El número 131.0 no es divisible por 2 ni 3
El número 132.0 es divisible por 2 y 3
El número 133.0 no es divisible por 2 ni 3
El número 134.0 es divisible por 2 y 3
El número 135.0 es divisible por 2 y 3
El número 136.0 es divisible por 2 y 3
El número 137.0 no es divisible por 2 ni 3
El número 138.0 es divisible por 2 y 3
El número 139.0 no es divisible por 2 ni 3
El número 140.0 es divisible por 2 y 3
El número 141.0 es divisible por 2 y 3
El número 142.0 es divisible por 2 y 3
El número 143.0 no es divisible por 2 ni 3
El número 144.0 es divisible por 2 y 3
El número 145.0 no es divisible por 2 ni 3
El número 146.0 es divisible por 2 y 3
El número 147.0 es divisible por 2 y 3
El número 148.0 es divisible por 2 y 3
El número 149.0 no es divisible por 2 ni 3
El número 150.0 es divisible por 2 y 3

# Desafio 4: Correccion de errores
~~~~~
for i in range(100):
    print(I**2)

NameError                                 Traceback (most recent call last)
/var/folders/2t/0b9zct996pqd07yvqjz4g_f80000gn/T/ipykernel_1005/4213348250.py in <module>
      1 for i in range(100):
----> 2     print(I**2)

NameError: name 'I' is not defined
~~~~~

El error se debe a que la variable 'I' no está definida. Para solucionar este problema se debe o definir la variable o se asume que lo que queria imprimir es la variable 'i'

~~~~~
for i in range(100):
   print(I**2)
~~~~~

# Desafio 5

In [2]:
import pandas as pd 
import numpy as np
flights=pd.read_csv("flights.csv")
passengers_mean=np.mean(flights.passengers)
flights['underperforming']=0
for index, row in flights.iterrows():
    if row.passengers <= passengers_mean:
        flights.at[index,'underperforming']=1
flights.underperforming.value_counts()

1    80
0    64
Name: underperforming, dtype: int64

# Desafio 6
Desafío 6
Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.
- Para ello, genere dos objetos que guarden la media general y la desviación estándar general de ​passengers​.
- Genere una nueva columna en la tabla de datos que se llame ​outlier​ y asignele 0.
- Ejecuten un loop que recorra cada observación de ​passengers​, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
- Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
 - La observación debe ser menor a la media menos la desviación estándar, o
 - La observación debe ser mayor a la media más la desviación estándar. 
- ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [12]:
import pandas as pd 
import numpy as np
flights=pd.read_csv("flights.csv")
print(flights.head())
passengers_mean=np.mean(flights.passengers)
print(passengers_mean)
passengers_std=np.std(flights.passengers)
print(passengers_std)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121
280.2986111111111
119.54904153277147

Genere una nueva columna en la tabla de datos que se llame ​outlier​ y asignele 0.

In [13]:
flights['outlier']=0

Ejecuten un loop que recorra cada observación de ​passengers​, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

In [14]:
for i,j in flights.iterrows():
    if (j.passengers <= passengers_mean-passengers_std) or (j.passengers >= passengers_mean+passengers_std):
        flights.at[i,'outlier']=1.0
    else:
        flights.at[i,'outlier']=0

In [21]:
print(passengers_mean-passengers_std)
print(passengers_mean+passengers_std)
print(flights.outlier.value_counts())

160.74956957833962
399.84765264388255
0    91
1    53
Name: outlier, dtype: int64

     year     month  passengers  outlier
18   1950      July         170        0
19   1950    August         170        0
26   1951     March         178        0
27   1951     April         163        0
28   1951       May         172        0
..    ...       ...         ...      ...
121  1959  February         342        0
123  1959     April         396        0
130  1959  November         362        0
133  1960  February         391        0
142  1960  November         390        0

[91 rows x 4 columns]

- ¿Cuántas observaciones se pueden clasificar como casos extremos?

La cantidad de observaciones que se pueden clasificar como casos extremos son: 53