# Desafio

## Desafio 1

In [40]:
import pandas as pd
import numpy as np
df=pd.read_csv("worldcup2014.csv")
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

## Desafio 2

In [41]:
df.continent.value_counts()

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [42]:
df.continent.value_counts('%')

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

### ¿Cuál es el continente con una mayor presencia en la muestra?
Europe
### ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
12,5%
### ¿Cuál es la probabilidad de elegir un equipo africano al azar?
15.625%

## Desafio 3

In [140]:
df_europe=df.loc[df.continent=='europe']
df_southamerica=df.loc[df.continent=='southamerica']
df_africa=df.loc[df.continent=='africa']
df_northamerica=df.loc[df.continent=='northamerica']
df_asia=df.loc[df.continent=='asia']

In [145]:
df_europe.clasificado.value_counts('%')

0    0.538462
1    0.461538
Name: clasificado, dtype: float64

In [146]:
df_southamerica.clasificado.value_counts('%')

1    0.833333
0    0.166667
Name: clasificado, dtype: float64

In [147]:
df_africa.clasificado.value_counts('%')

0    0.6
1    0.4
Name: clasificado, dtype: float64

In [148]:
df_northamerica.clasificado.value_counts('%')

1    0.75
0    0.25
Name: clasificado, dtype: float64

In [149]:
df_asia.clasificado.value_counts('%')

0    1.0
Name: clasificado, dtype: float64

### ¿Cuál es la probabilidad de que un país asiático pase a la siguiente ronda?
0%

### ¿Cuáles son los dos continentes con la mayor probabilidad de clasificar?
df_southamerica con un 83.3%
df_northamerica con un 75%